all {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


ul {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    padding: 10px;
}


p {
    text-align: center;
}

pre {
    text-align:center ;
}